<div class="flex h-screen text-center">
  <div class="flex flex-col justify-center w-full p-3 mx-auto">
    @if (!artistResource.isLoading()) {
    <main class="px-3">
      @let data = artistResource.value();
      @if (data.images.length > 0 ) {
      <img class="rounded-full mx-auto" [ngSrc]="data.images[0].url" alt="" width="300" height="300" priority="true" />
      }
      <h1 class="text-3xl font-bold mt-4">
        {{ data.name | uppercase }}
      </h1>
      <p class="text-lg text-gray-600">
        {{ data.genres?.join(", ") }}
      </p>
    </main>
    }
  </div>
</div>