<div class="max-w-7xl mx-auto px-4">
  <!-- Título -->
  <div class="text-center" id="div-title">
    <h1 class="text-2xl font-bold">Álbumes</h1>
  </div>

  <!-- Contenido -->
  <div class="mt-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4" id="div-content">
    @for (item of dataAlbums(); track item.id; let idx = $index) {
    <div class="flex flex-col">
      <!-- Card -->
      <app-card-detail [id]="item.id" [title]="item.name + ' - ' + item.artists[0].name" [urlImage]="item.images[0].url"
        [url]="'/' + item.id" [priorityImage]="idx < 5" (redirectUrl)="redirectCardDetail($event)"></app-card-detail>

      <!-- Botón -->
      <div class="mt-2">
        <a [routerLink]="'/artista/' + item.artists[0].id"
          class="block w-full rounded-md bg-green-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-green-500">
          Ver artista
        </a>
      </div>
    </div>
    }
  </div>
</div>